.certificate-container {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1.4em;
}

.certificate-container img {
    transition: all .5s ease-in-out;
    backface-visibility: hidden;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.card-preview-img {
  padding: 5px;
  border-radius: 5px;
}
